.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  min-height: 10vh;
  background: #FEFCFD;
  color: black;
  border-style: outset;
  padding-left: 2%;
  position: fixed;
  top: 0;
  z-index:99;
}

.nav-links{
  width: 100%;
  display: flex;
  justify-content: space-background;
  align-items: center;
  list-style: none;
  margin-right: 40%;

}

.nav-text{
  margin: 5px;
  color: black;
  border-radius: 10px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, .2);

}

.nav-text:hover span{
    font-weight: normal;
}

.nav-text:hover{
    text-decoration:underline;
    font-weight: 600;
}

.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 15px;
  background-color: #F6F4F3;
  text-align: center;
  position: relative;
  border-radius: 20px;
  height: 800px;
}

.card-container{
  margin: inherit;
  width: 90%;
  height: 500px;
  border: 3px solid #393D3F;
  border-radius: 10px;
  position: relative;
  overflow: auto;
  background-color: #FFFFFF;
  padding: 10px;
  padding-top: 3%;
  margin-top: 5%;
  box-shadow: 0 12px 26px 0 rgba(0, 0, 0, .4);

}

h1{
  display: inline-table;
  grid-template-columns: 45% 45%;
  margin: auto;
  width: 50%;
  margin-top: 18%;
  background-color: #89BD9E;
  border-radius: 5px;
  text-align: center;
}

.warrantyCard{
  box-sizing: border-box;
  box-shadow: 0 12px 26px 0 rgba(0, 0, 0, .4);
  padding: 15px;
  text-align: center;
  background-color: #f1f1f1;
  width: 90%;
  display: block;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 15px;
}

.showPhoto{
  margin: auto;
}

.deleteButton{
  background-color: red;
  border-radius: 10px;
  color: white;
  margin-bottom : 10px;
  border: 3px solid red;
  font-weight: 600;
  box-shadow: 0 12px 26px 0 rgba(0, 0, 0, .4);
}

.deleteButton:hover{
    text-decoration-line: underline;
    font-weight: 800;
}

.closeButton{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
}

.closeButton:hover{
  font-weight: 800;
}
